{% extends 'main/main_layout.html.twig' %}

{% block title %} Panier {% endblock %}

{% block stylesheets_2 %}
<link rel="stylesheet" href="{{ asset('css/display_cart.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <p>
        {% if products is empty %}
            <h1> Voici le contenu de votre panier : </h1>
        {% else %}
        TO DO : Afficher la panier de l'utilisateur.
        <table>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }} €</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <select name="{{ product.id }}" id="pet-select">
                            {% for i in 0..product.stock %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                {% for i in 0..3 %}
                    <td></td>
                {% endfor %}
                <td>
                    <button type="submit" value="add"> Ajouter </button>
                </td>
            </tr>
        </table>
    </p>
{% endblock %}