{% extends 'main/main_layout.html.twig' %}

{% block title %}Produits{% endblock %}

{% block stylesheets_2 %}
    <link rel="stylesheet" href="{{ asset('css/list_product.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <p>
        <div class="presentation_products">Voici les produits : <br></div>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Choix</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }} €</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <select name="{{ product.id }}" id="pet-select">
                            {% for i in 0..product.stock %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                {% for i in 0..3 %}
                    <td></td>
                {% endfor %}
                <td>
                    <button type="submit" value="add"> Ajouter </button>
                </td>
            </tr>
        </table>
{% endblock %}