{% extends 'main/main_layout.html.twig' %}

{% block title %}Produits{% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
        Voici les produits que nous vendons : <br>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Votre choix</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }} €</td>
                    {# {% if (product.stock is null) %}
                        <td>0</td>
                    {% else %} #}
                    <td>{{ product.stock }}</td>
                    <td>
                        <select name="{{ product.name }}" id="pet-select">
                            {% for i in 0..product.stock %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {# {% endif %} #}
                </tr>
            {% endfor %}
            <tr>
                {% for i in 0..3 %}
                    <td></td>
                {% endfor %}
                <td>
                    <button type="submit" value="add"> Ajouter </button>
                </td>
            </tr>
        </table>
    </p>
{% endblock %}